.table-container {
    margin: 20px auto;
    width: 80%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th {
    background-color: #5256a1;
    color: #fff;
    padding: 15px;
    text-align: left;
    font-size: 1.1rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

td {
    font-size: 1.1rem;

}
/* Alternate row background color */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Highlight the top 5 scores with a different background color */


.score-heading {
    text-align: center;
    color: #5256a1;
}