.card {
  margin: 0rem auto;
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
}


.Logo {
  margin-bottom: 25px;
}

/* small mobile*/
@media (min-width: 100px) {
  .container {
    width: 250px;
  }
}

/* mobile*/
@media (min-width: 445px) {
  .container {
    width: 400px;
  }
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
